$maxWidth: 1190;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-letter-spacing($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		letter-spacing: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		letter-spacing: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-line-height($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-padding-right($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		padding-right: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		padding-right: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-padding-left($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		padding-left: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		padding-left: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-padding-bottom($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		padding-bottom: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		padding-bottom: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-padding-top($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		padding-top: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		padding-top: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-mpadding-right($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		margin-right: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		margin-right: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-margin-left($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		margin-left: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		margin-left: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-margin-bottom($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		margin-bottom: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		margin-bottom: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

@mixin adaptive-margin-top($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px)
  {
		margin-top: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px)
  {
		margin-top: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}